body {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #222222;
    background-color: #f2f4f6;
     
    background-repeat: no-repeat;
    background-position: top center;
  }

  .navtop{
    background-color: darkgray;
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
  }

  .navtop_text{
     margin-left: 34%;
     font-size: 25px;
    }

  .avatar{
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 32px;
    }

    .navtop_home{
      opacity: 0.4;
    }

    .navtop_home:hover{
      opacity: 1;
    }

    .navtop_homehref{
      margin-left: 34%;
    }
  
    .photos {
      max-width: 928px;
      margin: 55px auto;
      padding: 16px;
    } 
  


  
  .container {
    max-width: 928px;
    margin-left: 35%;
    padding: 0;
    text-align: right;
  }
  

  
  
  .hero-image {
    margin-bottom: 620px;
  }
  
  .hero-image .container {
    max-width: 1408px;
    text-align: center;
  }
  
  .heading {
    margin: 0 0 16px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
  }
  
  .hero-image p {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
  }
  
  .intro {
    margin: 0 0 120px;
  }
  
  .subheading {
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }
  
  .user-image {
    margin: 0 0 32px;
    text-align: center;
  }
  
  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
  }
  
  .intro p {
    margin: 0 0 32px;
  }
  
  .skills-list {
    margin: 0;
    padding: 0;
  }
  
  .skills-list dt {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .skill-html {
    background-image: url("img/icon-html.svg");
  }
  
  .skill-css {
    background-image: url("img/icon-css.svg");
  }
  
  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
  
  .level div {
    margin: 1px;
    height: 12px;
    background-color: #288be6;
    border-radius: 6px;
  }
  
  .portfolio {
    margin: 0 0 120px;
  }
  
  .projects {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .projects li {
    margin: 0 0 80px;
  }
  
  .project-image {
    margin: 0 0 24px;
    text-align: center;
  }
  
  .projects p {
    margin: 0 0 24px;
  }
  
  .button {
    padding: 6px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #288be6;
    color: #ffffff;
  }
  
  .page-footer {
    padding: 40px 0;
    background-color: #00417d;
    color: #ffffff;
  }
  
  .page-footer a {
    margin-left: 56px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email-footer.svg");
  }
  
  .footer-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-footer.svg");
  }
  .homebutton{
    display: inline-block;
    background: silver;
    margin: 0 0 1% 43%;
    border-radius: 25px;
    border: solid black;
    padding: 0 10px;
  }

  .homebutton:hover{
   background: black;

  }

  .homebutton_text{
    text-decoration: none;
    font-weight: bold;
    color: black;
 }

 .homebutton_text:hover{
   color: white;
 }

  .buttonup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 350px;
    right: 40px;
    }